# Environment files
.env

# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package files (do not ignore)
# Do not include package.json or package-lock.json in .gitignore.
# These files are critical for defining project dependencies.

# IDE settings (optional)
.vscode/
.idea/
